{% extends 'nav.html' %}

{% block content %}

<h1 class="text-center">Home</h1>

{% if error %}

<div class="container shadow p-4">
    <div class="row">
        <div class="col-12 text-center">
            <p>The Url you are looking for doesn't exist</p>
            <a href="/dashboard" class="btn btn-primary">Shorten A Url</a>
        </div>
    </div>
</div>

{% endif %}

<div class="container">
    <h3>What is a URL shortener?</h3>
    <p><span id="isPasted" >A URL shortener is an online service that gives you a new, very short URL that is&nbsp;</span><strong>easier to share</strong><span>. It&apos;s not just useful with Twitter, but also with email, text messages, and any other situation where a long URL is unmanageable.</span>&nbsp;</p>
    <h4 id="isPasted">How it works</h4>
    <p>Basically, when the URL shortener gives you your shortened URL, it &quot;remembers&quot; the full address. When other users go to the shortened URL, they will be automatically redirected to the full address.</p>
    <p>The webpage will still exist at the longer URL&mdash;the shortened URL is simply a <strong style="font-weight: 700;">shortcut</strong> to make the link easier to manage.</p>
    <h4 id="isPasted">Let&apos;s shorten a URL!</h4>
    <p>Even if you&apos;ve never shortened a URL, it&apos;s very easy. We&apos;re going to use <a href="https://hly.herokuapp.com/" target="_blank">&gt;URL_Shortner</a>, but the process will be similar when using other shortening services.</p>
    <p>The basic process is to copy the long URL into the URL shortener, and it will give you a shorter URL. The exact steps are below:</p>
    <ol class="numbered-list">
        <li>Go to any website (you can use <a href="http://www.google.com/maps/place/Beasley's+Chicken+and+Honey/@35.777025,-78.638112,15z/data=!4m2!3m1!1s0x0:0x9ede9af11fda231a" target="_blank">this link</a> if you want). Websites with longer URLs are the best candidates for URL shortening, although any site will work.</li>
        <li>Select the URL in the address bar and copy it. You can use the keyboard shortcut <strong style="font-weight: 700;">Ctrl+C</strong>&nbsp; to copy it.</li>
        <li>Go to <a href="https://hly.herokuapp.com/signup/" rel="noopener noreferrer" target="_blank">URL Shortner</a> and signup, click on <strong>Dashboard</strong> paste the URL into the space provided, using the keyboard shortcut <strong style="font-weight: 700;">Ctrl+V&nbsp;</strong>to paste it<strong style="font-weight: 700;">.</strong>&nbsp;</li>
        <li>Click on <strong style="font-weight: 700;">Generate, </strong>shorten link will appear copy it and paste it in browser.</li>
        <li>The shortened URL will appear. You can then copy the new URL and paste it wherever you want!</li>
    </ol>
    <h4>So what can you do with a shortened URL?</h4>
    <p>URL shorteners aren&apos;t just useful with Twitter. There are lots of situations where a shorter URL is more convenient:</p>
    <ul>
        <li><strong style="font-weight: 700;">Emails</strong>: Long URLS can sometimes wrap to two or more lines, which makes them unwieldy.</li>
        <li><strong style="font-weight: 700;">Resumes and cover letters</strong>: Shortened URLs can look a bit neater.</li>
        <li><strong style="font-weight: 700;">Text messages</strong>: Most text messages have a limit of 160 characters, making short URLs essential.</li>
        <li><strong style="font-weight: 700;">Phones</strong>: If you need to tell someone to go to a specific webpage, a shortened URL can save time and trouble.</li>
    </ul>
</div>
</body>

</html>

{% endblock %}